@charset "utf-8";
@import "compass/reset";
$page-width:1190px;
$page-container:100%;
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

a {
    color: black;
}

//  头部
header {
    width: $page-container;
    height: 33px;
    background-color: #474747;
    .headerwrap {
        width: $page-width;
        height: 100%;
        margin: 0 auto;
        .left-span {
            margin-top: 7px;
            float: left;
            font-size: 12px;
            color: white;
        }
        .right-box {
            float: right;
            width: 138px;
            position: relative;
            z-index: 2;
            overflow: hidden;
            .cart {
                height: 33px;
                line-height: 33px;
                background-color: #1e1e1e;
                text-align: center;
                cursor: pointer;
                display: block;
                font-size: 12px;
                .icon {
                    display: inline-block;
                    margin-right: 8px;
                    width: 20px;
                    height: 14px;
                    overflow: hidden;
                    background: url(../imges/base.png) no-repeat -164px -20px;
                    vertical-align: -2px;
                }
                span {
                    color: gray;
                }
            }
        }
    }
}

// 导航
nav {
    height: 101px;
    background-color: #FFF;
    border-bottom: 3px solid #de2f3c;
    box-shadow: 0 3px 3px #CCC;
    .navwrap {
        width: $page-width;
        margin: 0 auto;
        overflow: hidden;
        .logo {
            width: 183px;
            text-align: center;
            height: 101px;
            padding-top: 29px;
            background-color: #c20315;
            margin-bottom: -3px;
            display: block;
            float: left;
        }
        .shop {
            margin: 37px 0 0 34px;
            display: block;
            float: left;
        }
        .shopping {
            position: relative;
            width: 175px;
            margin-left: 50px;
            text-indent: 19px;
            z-index: 1;
            float: left;
            .text {
                height: 101px;
                line-height: 101px;
                font-size: 15px;
                cursor: pointer;
                display: block;
                .shop-list {
                    display: inline-block;
                    width: 15px;
                    height: 13px;
                    margin-right: 7px;
                    background: url(../imges/base.png) no-repeat -24px 0;
                    vertical-align: -1px;
                }
            }
        }
        .ul-list {
            margin-top: 40px;
            float: left;
            li {
                float: left;
                padding: 0 13px;
                font-size: 15px;
                a {
                    color: black;
                }
            }
        }
        .right-box {
            position: relative;
            width: 320px;
            height: 41px;
            margin-top: 30px;
            z-index: 1;
            float: right;
            form {
                overflow: hidden;
                .input-text {
                    float: left;
                    width: 274px;
                    height: 41px;
                    line-height: 39px;
                    padding: 0 5px;
                    border: 1px solid #CCC;
                    border-right: 0;
                    resize: none;
                    outline: 0;
                }
                .btn {
                    float: right;
                    width: 46px;
                    height: 41px;
                    border: 0;
                    background: #e32332 url(../imges/search.png) no-repeat center;
                    cursor: pointer;
                }
                .keyword {
                    position: absolute;
                    top: 1px;
                    right: 56px;
                    height: 30px;
                    padding-top: 9px;
                    a {
                        display: inline-block;
                        padding: 3px 5px;
                        background-color: #EEE;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.nav-bar {
    height: 44px;
    line-height: 44px;
    background-color: #f5f5f5;
    color: #666;
    .barwrap {
        width: 1190px;
        margin: 0 auto;
        a {
            padding-right: 3px;
            font-size: 12px;
            color: #666;
        }
    }
}

//商品详情
.good-list {
    padding: 30px 0 40px 0;
    background-color: #FFF;
    width: 100%;
    overflow: hidden;
    .detail-wrap {
        width: $page-width;
        margin: 0 auto;
        .left-detail {
            float: left;
            overflow: hidden;
            .hd {
                width: 430px;
                height: 430px;
            }
            .bd {
                width: 430px;
                padding-top: 10px;
                ul {
                    text-align: center;
                    overflow: hidden;
                    li {
                        float: left;
                        margin: 0 auto;
                    }
                }
            }
        }
        .right-detail {
            width: 684px;
            font-size: 14px;
            float: left;
            .title {
                overflow: hidden;
                h1 {
                    padding-bottom: 20px;
                    font-size: 30px;
                    color: #474747;
                    font-weight: normal;
                }
                p {
                    font-size: 16px;
                    color: #666;
                }
            }
            .pri {
                padding: 20px 0;
                margin: 34px 0 25px 0;
                font-size: 26px;
                color: #e90404;
                border-top: 1px solid #efefef;
                border-bottom: 1px solid #efefef;
                s {
                    padding-left: 20px;
                    font-size: 16px;
                    color: #999;
                }
            }
            .tc {
                overflow: hidden;
            }
            .tc:nth-of-type(1) {
                font-size: 14px;
                .tg {
                    float: right;
                }
            }
            .ee {
                font-size: 14px;
                margin: 20px 0;
                line-height: 30px;
                .dt {
                    margin-left: 30px;
                    text-align: center;
                    display: inline-block;
                    width: 70px;
                    height: 30px;
                    border: 2px solid red;
                }
            }
            .tt {
                font-size: 14px;
                margin-bottom: 20px;
                a {
                    margin-left: 30px;
                    display: inline-block;
                    width: 70px;
                    height: 30px;
                    border: 2px solid red;
                    text-align: center;
                    line-height: 30px;
                }
            }
            .aa {
                font-size: 14px;
                span {
                    margin-right: 30px;
                }
                .sl {
                    width: 60px;
                    height: 25px;
                }
            }
            .qq {
                margin-top: 30px;
                overflow: hidden;
                position: relative;
                .shop {
                    width: 200px;
                    height: 50px;
                    display: inline-block;
                    // border: 1px solid black;
                    font-size: 20px;
                    text-align: center;
                    line-height: 50px;
                    background: red;
                    color: #fff;
                }
                .lj {
                    width: 200px;
                    height: 50px;
                    display: inline-block;
                    border: 1px solid red;
                    position: absolute;
                    top: 0;
                    left: 300px;
                    input {
                        width: 100%;
                        height: 100%;
                        border: 0;
                        outline: none;
                        font-size: 20px;
                        color: red;
                        background: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}