@charset "utf-8";
@import "compass/reset";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

.red {
    color: red;
}

.green {
    color: green;
}

body {
    background: url(../imges/bg.jpg) center top no-repeat;
    min-width: 1002px;
}

//头部
header {
    width: 818px;
    margin: 0 auto 40px;
    padding: 30px 0 0;
    position: relative;
    z-index: 10;
    line-height: 35px;
    color: #fff;
    h1 {
        float: left;
        img {
            vertical-align: middle;
            height: 35px;
        }
    }
}

//注册表
main {
    position: relative;
    z-index: 10;
    width: 818px;
    height: auto;
    padding: 60px 0;
    background: #ffffff;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    margin: 0 auto 56px;
    .main-wrap {
        width: 396px;
        background: #fff;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        font-size: 16px;
        .title {
            color: #333333;
            line-height: 36px;
            font-size: 34px;
            text-shadow: none;
            font-weight: normal;
            margin: 0 0 10px;
            text-align: center;
        }
        .vicetit {
            color: #999999;
            line-height: 18px;
            margin: 0 0 34px;
        }
        form {
            overflow: hidden;
            p {
                line-height: 30px;
                vertical-align: middle;
                label {
                    display: inline-block;
                    width: 80px;
                    text-align: right;
                }
                .username {
                    width: 160px;
                    height: 16px;
                }
                .password {
                    width: 165px;
                    height: 16px;
                    vertical-align: middle;
                }
                .email {
                    width: 160px;
                    height: 16px;
                    vertical-align: middle;
                }
            }
            .submit {
                width: 120px;
                height: 40px;
                background: red;
                color: #fff;
                outline: none;
                border: 0;
                margin-left: 80px;
                margin-top: 30px;
                cursor: pointer;
            }
        }
    }
}

//底部
footer {
    width: 100%;
    padding: 25px 0 30px 0;
    margin-top: 400px;
    .footwrap {
        width: 1190px;
        margin: 0 auto;
        .foot-ul {
            width: 825px;
            margin: 0 auto;
            overflow: hidden;
            li {
                float: left;
                width: 70px;
                height: 12px;
                line-height: 12px;
                border-right: 1px solid #DDD;
                text-align: center;
                margin-right: -1px;
                text-align: center;
                font-size: 12px;
            }
        }
        .p-text {
            padding: 24px 0 15px 0;
            color: #999;
            text-align: center;
            font-size: 12px;
        }
        .link {
            overflow: hidden;
            text-align: center;
            a {
                display: inline-block;
                overflow: hidden;
                margin: 0 3px;
            }
        }
    }
}