/* line 17, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/wanmei.scss */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* line 13, ../sass/wanmei.scss */
body {
  background-color: #f5f5f5;
}

/* line 17, ../sass/wanmei.scss */
a {
  color: black;
}

/* line 22, ../sass/wanmei.scss */
header {
  width: 100%;
  height: 33px;
  background-color: #474747;
}
/* line 26, ../sass/wanmei.scss */
header .headerwrap {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
}
/* line 30, ../sass/wanmei.scss */
header .headerwrap .left-span {
  margin-top: 7px;
  float: left;
  font-size: 12px;
  color: white;
}
/* line 36, ../sass/wanmei.scss */
header .headerwrap .right-box {
  float: right;
  width: 138px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
/* line 42, ../sass/wanmei.scss */
header .headerwrap .right-box .cart {
  height: 33px;
  line-height: 33px;
  background-color: #1e1e1e;
  text-align: center;
  cursor: pointer;
  display: block;
  font-size: 12px;
}
/* line 50, ../sass/wanmei.scss */
header .headerwrap .right-box .cart .icon {
  display: inline-block;
  margin-right: 8px;
  width: 20px;
  height: 14px;
  overflow: hidden;
  background: url(../imges/base.png) no-repeat -164px -20px;
  vertical-align: -2px;
}
/* line 59, ../sass/wanmei.scss */
header .headerwrap .right-box .cart span {
  color: gray;
}

/* line 68, ../sass/wanmei.scss */
nav {
  height: 101px;
  background-color: #FFF;
  border-bottom: 3px solid #de2f3c;
  box-shadow: 0 3px 3px #CCC;
}
/* line 73, ../sass/wanmei.scss */
nav .navwrap {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 77, ../sass/wanmei.scss */
nav .navwrap .logo {
  width: 183px;
  text-align: center;
  height: 101px;
  padding-top: 29px;
  background-color: #c20315;
  margin-bottom: -3px;
  display: block;
  float: left;
}
/* line 87, ../sass/wanmei.scss */
nav .navwrap .shop {
  margin: 37px 0 0 34px;
  display: block;
  float: left;
}
/* line 92, ../sass/wanmei.scss */
nav .navwrap .shopping {
  position: relative;
  width: 175px;
  margin-left: 50px;
  text-indent: 19px;
  z-index: 1;
  float: left;
}
/* line 99, ../sass/wanmei.scss */
nav .navwrap .shopping .text {
  height: 101px;
  line-height: 101px;
  font-size: 15px;
  cursor: pointer;
  display: block;
}
/* line 105, ../sass/wanmei.scss */
nav .navwrap .shopping .text .shop-list {
  display: inline-block;
  width: 15px;
  height: 13px;
  margin-right: 7px;
  background: url(../imges/base.png) no-repeat -24px 0;
  vertical-align: -1px;
}
/* line 115, ../sass/wanmei.scss */
nav .navwrap .ul-list {
  margin-top: 40px;
  float: left;
}
/* line 118, ../sass/wanmei.scss */
nav .navwrap .ul-list li {
  float: left;
  padding: 0 13px;
  font-size: 15px;
}
/* line 122, ../sass/wanmei.scss */
nav .navwrap .ul-list li a {
  color: black;
}
/* line 127, ../sass/wanmei.scss */
nav .navwrap .right-box {
  position: relative;
  width: 320px;
  height: 41px;
  margin-top: 30px;
  z-index: 1;
  float: right;
}
/* line 134, ../sass/wanmei.scss */
nav .navwrap .right-box form {
  overflow: hidden;
}
/* line 136, ../sass/wanmei.scss */
nav .navwrap .right-box form .input-text {
  float: left;
  width: 274px;
  height: 41px;
  line-height: 39px;
  padding: 0 5px;
  border: 1px solid #CCC;
  border-right: 0;
  resize: none;
  outline: 0;
}
/* line 147, ../sass/wanmei.scss */
nav .navwrap .right-box form .btn {
  float: right;
  width: 46px;
  height: 41px;
  border: 0;
  background: #e32332 url(../imges/search.png) no-repeat center;
  cursor: pointer;
}
/* line 155, ../sass/wanmei.scss */
nav .navwrap .right-box form .keyword {
  position: absolute;
  top: 1px;
  right: 56px;
  height: 30px;
  padding-top: 9px;
}
/* line 161, ../sass/wanmei.scss */
nav .navwrap .right-box form .keyword a {
  display: inline-block;
  padding: 3px 5px;
  background-color: #EEE;
  font-size: 12px;
}

/* line 174, ../sass/wanmei.scss */
.banner {
  width: 100%;
  height: 439px;
  position: relative;
}
/* line 178, ../sass/wanmei.scss */
.banner ul {
  width: 100%;
  overflow: hidden;
  height: 100%;
  position: relative;
}
/* line 183, ../sass/wanmei.scss */
.banner ul .li-1 {
  width: 100%;
  height: 439px;
  float: left;
  background: url(../imges/01.jpg) center top no-repeat;
}
/* line 189, ../sass/wanmei.scss */
.banner ul .li-2 {
  width: 100%;
  height: 439px;
  float: left;
  background: url(../imges/02.jpg) center top no-repeat;
}
/* line 195, ../sass/wanmei.scss */
.banner ul .li-3 {
  width: 100%;
  height: 439px;
  float: left;
  background: url(../imges/03.jpg) center top no-repeat;
}
/* line 202, ../sass/wanmei.scss */
.banner .prev {
  margin-left: -595px;
  width: 47px;
  height: 80px;
  margin-top: -40px;
  left: 50%;
  position: absolute;
  top: 50%;
  border-radius: 3px;
  display: block;
}
/* line 212, ../sass/wanmei.scss */
.banner .prev span {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../imges/base.png) 0px -20px no-repeat;
}
/* line 219, ../sass/wanmei.scss */
.banner .next {
  margin-right: -595px;
  width: 47px;
  height: 80px;
  margin-top: -40px;
  right: 50%;
  position: absolute;
  top: 50%;
  border-radius: 3px;
  display: block;
}
/* line 229, ../sass/wanmei.scss */
.banner .next span {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../imges/base.png) -47px -20px no-repeat;
}

/* line 239, ../sass/wanmei.scss */
.buying {
  width: 100%;
  padding-bottom: 40px;
  background: white;
}
/* line 243, ../sass/wanmei.scss */
.buying .buywrap {
  width: 1190px;
  padding-top: 146px;
  margin: 0 auto;
  position: relative;
}
/* line 248, ../sass/wanmei.scss */
.buying .buywrap .list {
  position: absolute;
  top: -14px;
  left: 0;
  width: 100%;
  height: 160px;
}
/* line 254, ../sass/wanmei.scss */
.buying .buywrap .list a {
  width: 386px;
  height: 160px;
  float: left;
  display: block;
  margin-left: 16px;
}
/* line 260, ../sass/wanmei.scss */
.buying .buywrap .list a img {
  width: 100%;
  height: 100%;
}
/* line 265, ../sass/wanmei.scss */
.buying .buywrap .list a:hover {
  transform: translate(0, -2px);
  box-shadow: 0 3px 3px #CCC;
}
/* line 269, ../sass/wanmei.scss */
.buying .buywrap .list .firstpic {
  margin-left: 0;
}

/* line 277, ../sass/wanmei.scss */
.area {
  width: 100%;
}
/* line 279, ../sass/wanmei.scss */
.area .areabox {
  width: 100%;
  overflow: hidden;
}
/* line 282, ../sass/wanmei.scss */
.area .areabox .wrap {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
}
/* line 286, ../sass/wanmei.scss */
.area .areabox .wrap .title-main {
  padding: 37px 0 20px 0;
  width: 100%;
  overflow: hidden;
}
/* line 290, ../sass/wanmei.scss */
.area .areabox .wrap .title-main p {
  float: left;
}
/* line 292, ../sass/wanmei.scss */
.area .areabox .wrap .title-main p .icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 12px;
  vertical-align: middle;
}
/* line 298, ../sass/wanmei.scss */
.area .areabox .wrap .title-main p .icon img {
  width: 100%;
  height: 100%;
}
/* line 304, ../sass/wanmei.scss */
.area .areabox .wrap .title-main .rsp {
  margin-left: 116px;
  float: left;
  overflow: hidden;
}
/* line 308, ../sass/wanmei.scss */
.area .areabox .wrap .title-main .rsp a {
  margin-right: 5px;
  padding-top: 7px;
  font-size: 18px;
  display: block;
  border-bottom: 3px solid #de2f3c;
}
/* line 316, ../sass/wanmei.scss */
.area .areabox .wrap .title-main .right-more {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
  float: right;
}
/* line 321, ../sass/wanmei.scss */
.area .areabox .wrap .title-main .right-more .gt {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background: url(../imges/base.png) no-repeat -90px 0;
  vertical-align: -5px;
}
/* line 331, ../sass/wanmei.scss */
.area .areabox .wrap .dota {
  width: 100%;
  overflow: hidden;
}
/* line 334, ../sass/wanmei.scss */
.area .areabox .wrap .dota .left-pic {
  width: 226px;
  height: 614px;
  margin: 0 0 15px 0;
  display: block;
  float: left;
}
/* line 340, ../sass/wanmei.scss */
.area .areabox .wrap .dota .left-pic img {
  width: 100%;
  height: 100%;
}
/* line 345, ../sass/wanmei.scss */
.area .areabox .wrap .dota .left-pic:hover {
  transform: translate(0, -2px);
  box-shadow: 0 3px 3px #CCC;
}
/* line 349, ../sass/wanmei.scss */
.area .areabox .wrap .dota ul {
  overflow: hidden;
  float: left;
  width: 964px;
}
/* line 353, ../sass/wanmei.scss */
.area .areabox .wrap .dota ul li {
  position: relative;
  float: left;
  background-color: #FFF;
  width: 226px;
  padding-top: 47px;
  margin: 0 0 15px 15px;
  text-align: center;
  height: 300px;
}
/* line 362, ../sass/wanmei.scss */
.area .areabox .wrap .dota ul li .sale {
  background-color: #ff5353;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 52px;
  height: 52px;
  line-height: 52px;
  border-radius: 26px;
  font-size: 12px;
  color: #FFF;
  box-shadow: 0 1px 3px #CCC;
}
/* line 374, ../sass/wanmei.scss */
.area .areabox .wrap .dota ul li .sale span {
  font-size: 26px;
}
/* line 378, ../sass/wanmei.scss */
.area .areabox .wrap .dota ul li .like {
  position: absolute;
  top: 18px;
  right: 15px;
  color: #999;
  line-height: 14px;
}
/* line 384, ../sass/wanmei.scss */
.area .areabox .wrap .dota ul li .like span {
  display: inline-block;
  width: 13px;
  height: 11px;
  overflow: hidden;
  margin-right: 5px;
  background: url(../imges/base.png) no-repeat -132px 0;
  vertical-align: middle;
}
/* line 394, ../sass/wanmei.scss */
.area .areabox .wrap .dota ul li .tc-pic {
  display: block;
  overflow: hidden;
}
/* line 397, ../sass/wanmei.scss */
.area .areabox .wrap .dota ul li .tc-pic img {
  width: 160px;
  height: 160px;
}
/* line 402, ../sass/wanmei.scss */
.area .areabox .wrap .dota ul li .title {
  font-size: 14px;
  margin: 15px 15px 5px 15px;
  overflow: hidden;
}
/* line 408, ../sass/wanmei.scss */
.area .areabox .wrap .dota ul li .price {
  font-size: 18px;
  color: #eb0303;
}
/* line 411, ../sass/wanmei.scss */
.area .areabox .wrap .dota ul li .price s {
  display: inline-block;
  margin-left: 7px;
  vertical-align: middle;
  font-size: 12px;
  color: #999;
  text-decoration: line-through;
}
/* line 421, ../sass/wanmei.scss */
.area .areabox .wrap .dota ul li:hover {
  transform: translate(0, -2px);
  box-shadow: 0 3px 3px #CCC;
}

/* line 432, ../sass/wanmei.scss */
.comment {
  width: 100%;
  padding-bottom: 25px;
}
/* line 435, ../sass/wanmei.scss */
.comment .comwrap {
  width: 1190px;
  margin: 0 auto;
}
/* line 438, ../sass/wanmei.scss */
.comment .comwrap .title-main {
  padding: 37px 0 20px 0;
  width: 100%;
  overflow: hidden;
}
/* line 442, ../sass/wanmei.scss */
.comment .comwrap .title-main p {
  float: left;
}
/* line 444, ../sass/wanmei.scss */
.comment .comwrap .title-main p .icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 12px;
  vertical-align: middle;
}
/* line 450, ../sass/wanmei.scss */
.comment .comwrap .title-main p .icon img {
  width: 100%;
  height: 100%;
}
/* line 457, ../sass/wanmei.scss */
.comment .comwrap ul {
  overflow: hidden;
}
/* line 459, ../sass/wanmei.scss */
.comment .comwrap ul li {
  float: left;
  width: 330px;
  padding: 28px;
  margin-right: 16px;
  background-color: #FFF;
  box-sizing: content-box;
}
/* line 466, ../sass/wanmei.scss */
.comment .comwrap ul li .pic {
  display: block;
  float: left;
  height: 100%;
  width: 130px;
}
/* line 471, ../sass/wanmei.scss */
.comment .comwrap ul li .pic img {
  width: 100%;
  height: 100%;
}
/* line 476, ../sass/wanmei.scss */
.comment .comwrap ul li .main-context {
  width: 184px;
  margin-left: 15px;
  line-height: 20px;
  float: left;
}
/* line 481, ../sass/wanmei.scss */
.comment .comwrap ul li .main-context .desp {
  height: 81px;
  font-size: 12px;
}
/* line 485, ../sass/wanmei.scss */
.comment .comwrap ul li .main-context .form {
  color: #999;
  font-size: 12px;
}
/* line 488, ../sass/wanmei.scss */
.comment .comwrap ul li .main-context .form .weixin-pic {
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-right: 5px;
  background: url(../imges/base.png) no-repeat -174px 0;
  vertical-align: -1px;
}
/* line 497, ../sass/wanmei.scss */
.comment .comwrap ul li .main-context .name {
  overflow: hidden;
  font-size: 14px;
}
/* line 500, ../sass/wanmei.scss */
.comment .comwrap ul li .main-context .name .name-hero {
  color: #ea0406;
  padding-left: 6px;
  margin-left: 6px;
  border-left: 1px solid #DDD;
}

/* line 514, ../sass/wanmei.scss */
.about {
  width: 100%;
  overflow: hidden;
  padding: 23px 0 40px;
  margin-top: 40px;
  background-color: #fff;
}
/* line 520, ../sass/wanmei.scss */
.about .aboutwrap {
  width: 1190px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 524, ../sass/wanmei.scss */
.about .aboutwrap .ensure {
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 527, ../sass/wanmei.scss */
.about .aboutwrap .ensure .goods {
  float: left;
  width: 297px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  font-size: 18px;
  border-right: 1px solid #e9e9e9;
  color: #999;
}
/* line 536, ../sass/wanmei.scss */
.about .aboutwrap .ensure .goods span {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background: url(../imges/about.png) no-repeat;
  vertical-align: middle;
}
/* line 546, ../sass/wanmei.scss */
.about .aboutwrap .server {
  padding-top: 40px;
  border-top: 1px solid #e9e9e9;
  overflow: hidden;
}
/* line 550, ../sass/wanmei.scss */
.about .aboutwrap .server dl {
  float: left;
  width: 298px;
  text-indent: 110px;
}
/* line 554, ../sass/wanmei.scss */
.about .aboutwrap .server dl dt {
  height: 35px;
  font-size: 14px;
}
/* line 558, ../sass/wanmei.scss */
.about .aboutwrap .server dl dd {
  height: 24px;
  text-align: left;
  font-size: 12px;
}
/* line 562, ../sass/wanmei.scss */
.about .aboutwrap .server dl dd a {
  color: #999;
}
/* line 568, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content {
  width: 227px;
  padding-left: 67px;
  border-left: 1px solid #e9e9e9;
  float: right;
  box-sizing: content-box;
}
/* line 574, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .tel {
  font-size: 24px;
}
/* line 577, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .time {
  padding: 16px 0 24px 0;
  font-size: 14px;
  color: #999;
}
/* line 582, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .zaixian {
  display: block;
  width: 154px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ea0f1f;
  font-size: 16px;
  border: 1px solid #ff5353;
  border-radius: 3px;
}
/* line 592, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .zaixian span {
  display: inline-block;
  width: 18px;
  height: 15px;
  margin-right: 6px;
  background: url(../imges/base.png) no-repeat -188px 0;
  vertical-align: middle;
}
/* line 601, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .zaixian:hover {
  background-color: #e32331;
  border-color: #e32331;
  color: #FFF;
}
/* line 606, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .zaixian:hover span {
  background: url(../imges/base.png) no-repeat -240px 0;
}
/* line 609, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .tousu {
  text-indent: 50px;
  font-size: 14px;
  padding: 16px 0 0;
  display: block;
}

/* line 621, ../sass/wanmei.scss */
footer {
  width: 100%;
  padding: 25px 0 30px 0;
}
/* line 624, ../sass/wanmei.scss */
footer .footwrap {
  width: 1190px;
  margin: 0 auto;
}
/* line 627, ../sass/wanmei.scss */
footer .footwrap .foot-ul {
  width: 825px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 631, ../sass/wanmei.scss */
footer .footwrap .foot-ul li {
  float: left;
  width: 70px;
  height: 12px;
  line-height: 12px;
  border-right: 1px solid #DDD;
  text-align: center;
  margin-right: -1px;
  text-align: center;
  font-size: 12px;
}
/* line 643, ../sass/wanmei.scss */
footer .footwrap .p-text {
  padding: 24px 0 15px 0;
  color: #999;
  text-align: center;
  font-size: 12px;
}
/* line 649, ../sass/wanmei.scss */
footer .footwrap .link {
  overflow: hidden;
  text-align: center;
}
/* line 652, ../sass/wanmei.scss */
footer .footwrap .link a {
  display: inline-block;
  overflow: hidden;
  margin: 0 3px;
}

/* line 662, ../sass/wanmei.scss */
.rightnav {
  position: fixed;
  top: 0;
  right: 0;
  width: 35px;
  height: 100%;
  background: black;
}
/* line 669, ../sass/wanmei.scss */
.rightnav > a {
  display: block;
  position: absolute;
  left: 0;
}
/* line 674, ../sass/wanmei.scss */
.rightnav > a:nth-child(1) {
  top: 350px;
  width: 35px;
  height: 35px;
  padding: 8.5px;
}
/* line 679, ../sass/wanmei.scss */
.rightnav > a:nth-child(1) > span {
  display: block;
  width: 18px;
  height: 18px;
  background: url(../imges/base.png) no-repeat -228px -74px;
}
/* line 685, ../sass/wanmei.scss */
.rightnav > a:nth-child(1) > em {
  display: block;
  width: 85px;
  height: 35px;
  color: white;
  text-align: center;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: -150px;
  opacity: 0;
  transition: all 1s;
  background: url(../imges/base.png) no-repeat -95px -90px;
}
/* line 699, ../sass/wanmei.scss */
.rightnav > a:nth-child(1):hover {
  background: red;
}
/* line 701, ../sass/wanmei.scss */
.rightnav > a:nth-child(1):hover > em {
  left: -76px;
  opacity: 1;
}
/* line 707, ../sass/wanmei.scss */
.rightnav > a:nth-child(2) {
  top: 390px;
  width: 35px;
  height: 35px;
  padding: 8.5px;
}
/* line 712, ../sass/wanmei.scss */
.rightnav > a:nth-child(2) > span {
  display: block;
  width: 19px;
  height: 16px;
  background: url(../imges/base.png) no-repeat -228px -41px;
}
/* line 718, ../sass/wanmei.scss */
.rightnav > a:nth-child(2) > em {
  display: block;
  width: 85px;
  height: 35px;
  color: white;
  text-align: center;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: -150px;
  opacity: 0;
  transition: all 1s;
  background: url(../imges/base.png) no-repeat -95px -90px;
}
/* line 732, ../sass/wanmei.scss */
.rightnav > a:nth-child(2):hover {
  background: red;
}
/* line 734, ../sass/wanmei.scss */
.rightnav > a:nth-child(2):hover > em {
  left: -76px;
  opacity: 1;
}
/* line 740, ../sass/wanmei.scss */
.rightnav > a:nth-child(3) {
  top: 430px;
  width: 35px;
  height: 136px;
  color: white;
  font-size: 14px;
  padding: 6.5px;
  text-align: center;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
/* line 750, ../sass/wanmei.scss */
.rightnav > a:nth-child(3) > span:nth-of-type(1) {
  display: block;
  width: 22px;
  height: 18px;
  background: url(../imges/base.png) no-repeat -162px -20px;
}
/* line 756, ../sass/wanmei.scss */
.rightnav > a:nth-child(3) > span:nth-of-type(2) {
  display: block;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  color: white;
  background: red;
}
/* line 764, ../sass/wanmei.scss */
.rightnav > a:nth-child(3):hover {
  background: red;
}
/* line 766, ../sass/wanmei.scss */
.rightnav > a:nth-child(3):hover > span:nth-of-type(2) {
  background: black;
}
/* line 769, ../sass/wanmei.scss */
.rightnav > a:nth-child(3):hover > span:nth-of-type(1) {
  background: url(../imges/base.png) no-repeat -162px -37px;
}
/* line 774, ../sass/wanmei.scss */
.rightnav > a:nth-child(4) {
  top: 575px;
  width: 35px;
  height: 35px;
  padding: 8.5px;
}
/* line 779, ../sass/wanmei.scss */
.rightnav > a:nth-child(4) > span {
  display: block;
  width: 18px;
  height: 17px;
  background: url(../imges/base.png) no-repeat -228px -57px;
}
/* line 785, ../sass/wanmei.scss */
.rightnav > a:nth-child(4) > em {
  display: block;
  width: 85px;
  height: 35px;
  color: white;
  text-align: center;
  line-height: 35px;
  position: absolute;
  top: 0;
  left: -150px;
  opacity: 0;
  transition: all 1s;
  background: url(../imges/base.png) no-repeat -95px -90px;
}
/* line 799, ../sass/wanmei.scss */
.rightnav > a:nth-child(4):hover {
  background: red;
}
/* line 801, ../sass/wanmei.scss */
.rightnav > a:nth-child(4):hover > em {
  left: -76px;
  opacity: 1;
}
/* line 807, ../sass/wanmei.scss */
.rightnav > a:nth-child(5) {
  top: 900px;
  width: 35px;
  height: 35px;
  color: white;
  font-size: 14px;
  text-align: center;
}
/* line 814, ../sass/wanmei.scss */
.rightnav > a:nth-child(5)::before {
  content: '';
  display: block;
  width: 18px;
  height: 8px;
  margin: 0 auto;
  background: url(../imges/base.png) no-repeat -232px -21px;
}
/* line 822, ../sass/wanmei.scss */
.rightnav > a:nth-child(5):hover {
  background: red;
}
