/* line 17, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/wanmei.scss */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

/* line 13, ../sass/wanmei.scss */
a {
  color: black;
}

/* line 18, ../sass/wanmei.scss */
header {
  width: 100%;
  height: 33px;
  background-color: #474747;
}
/* line 22, ../sass/wanmei.scss */
header .headerwrap {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
}
/* line 26, ../sass/wanmei.scss */
header .headerwrap .left-span {
  margin-top: 7px;
  float: left;
  font-size: 12px;
  color: white;
}
/* line 32, ../sass/wanmei.scss */
header .headerwrap .right-box {
  float: right;
  width: 138px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
/* line 38, ../sass/wanmei.scss */
header .headerwrap .right-box .cart {
  height: 33px;
  line-height: 33px;
  background-color: #1e1e1e;
  text-align: center;
  cursor: pointer;
  display: block;
  font-size: 12px;
}
/* line 46, ../sass/wanmei.scss */
header .headerwrap .right-box .cart .icon {
  display: inline-block;
  margin-right: 8px;
  width: 20px;
  height: 14px;
  overflow: hidden;
  background: url(../imges/base.png) no-repeat -164px -20px;
  vertical-align: -2px;
}
/* line 55, ../sass/wanmei.scss */
header .headerwrap .right-box .cart span {
  color: gray;
}

/* line 64, ../sass/wanmei.scss */
nav {
  height: 101px;
  background-color: #FFF;
  border-bottom: 3px solid #de2f3c;
  box-shadow: 0 3px 3px #CCC;
}
/* line 69, ../sass/wanmei.scss */
nav .navwrap {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 73, ../sass/wanmei.scss */
nav .navwrap .logo {
  width: 183px;
  text-align: center;
  height: 101px;
  padding-top: 29px;
  background-color: #c20315;
  margin-bottom: -3px;
  display: block;
  float: left;
}
/* line 83, ../sass/wanmei.scss */
nav .navwrap .shop {
  margin: 37px 0 0 34px;
  display: block;
  float: left;
}
/* line 88, ../sass/wanmei.scss */
nav .navwrap .shopping {
  position: relative;
  width: 175px;
  margin-left: 50px;
  text-indent: 19px;
  z-index: 1;
  float: left;
}
/* line 95, ../sass/wanmei.scss */
nav .navwrap .shopping .text {
  height: 101px;
  line-height: 101px;
  font-size: 15px;
  cursor: pointer;
  display: block;
}
/* line 101, ../sass/wanmei.scss */
nav .navwrap .shopping .text .shop-list {
  display: inline-block;
  width: 15px;
  height: 13px;
  margin-right: 7px;
  background: url(../imges/base.png) no-repeat -24px 0;
  vertical-align: -1px;
}
/* line 111, ../sass/wanmei.scss */
nav .navwrap .ul-list {
  margin-top: 40px;
  float: left;
}
/* line 114, ../sass/wanmei.scss */
nav .navwrap .ul-list li {
  float: left;
  padding: 0 13px;
  font-size: 15px;
}
/* line 118, ../sass/wanmei.scss */
nav .navwrap .ul-list li a {
  color: black;
}
/* line 123, ../sass/wanmei.scss */
nav .navwrap .right-box {
  position: relative;
  width: 320px;
  height: 41px;
  margin-top: 30px;
  z-index: 1;
  float: right;
}
/* line 130, ../sass/wanmei.scss */
nav .navwrap .right-box form {
  overflow: hidden;
}
/* line 132, ../sass/wanmei.scss */
nav .navwrap .right-box form .input-text {
  float: left;
  width: 274px;
  height: 41px;
  line-height: 39px;
  padding: 0 5px;
  border: 1px solid #CCC;
  border-right: 0;
  resize: none;
  outline: 0;
}
/* line 143, ../sass/wanmei.scss */
nav .navwrap .right-box form .btn {
  float: right;
  width: 46px;
  height: 41px;
  border: 0;
  background: #e32332 url(../imges/search.png) no-repeat center;
  cursor: pointer;
}
/* line 151, ../sass/wanmei.scss */
nav .navwrap .right-box form .keyword {
  position: absolute;
  top: 1px;
  right: 56px;
  height: 30px;
  padding-top: 9px;
}
/* line 157, ../sass/wanmei.scss */
nav .navwrap .right-box form .keyword a {
  display: inline-block;
  padding: 3px 5px;
  background-color: #EEE;
  font-size: 12px;
}

/* line 170, ../sass/wanmei.scss */
.banner {
  width: 100%;
  height: 439px;
  background: red;
}

/* line 177, ../sass/wanmei.scss */
.buying {
  width: 100%;
  padding-bottom: 40px;
  background: white;
}
/* line 181, ../sass/wanmei.scss */
.buying .buywrap {
  width: 1190px;
  padding-top: 146px;
  margin: 0 auto;
  position: relative;
}
/* line 186, ../sass/wanmei.scss */
.buying .buywrap .list {
  position: absolute;
  top: -14px;
  left: 0;
  width: 100%;
  height: 160px;
}
/* line 192, ../sass/wanmei.scss */
.buying .buywrap .list a {
  width: 386px;
  height: 160px;
  float: left;
  display: block;
  margin-left: 16px;
}
/* line 198, ../sass/wanmei.scss */
.buying .buywrap .list a img {
  width: 100%;
  height: 100%;
}
/* line 203, ../sass/wanmei.scss */
.buying .buywrap .list a:hover {
  transform: translate(0, -2px);
  box-shadow: 0 3px 3px #CCC;
}
/* line 207, ../sass/wanmei.scss */
.buying .buywrap .list .firstpic {
  margin-left: 0;
}

/* line 215, ../sass/wanmei.scss */
.area {
  width: 100%;
  background: gold;
}
/* line 218, ../sass/wanmei.scss */
.area .areabox {
  width: 100%;
  overflow: hidden;
  background: bisque;
}
/* line 222, ../sass/wanmei.scss */
.area .areabox .wrap {
  width: 1190px;
  height: 100%;
  background: honeydew;
  margin: 0 auto;
}
/* line 227, ../sass/wanmei.scss */
.area .areabox .wrap .title-main {
  padding: 37px 0 20px 0;
  width: 100%;
  overflow: hidden;
}
/* line 231, ../sass/wanmei.scss */
.area .areabox .wrap .title-main p {
  float: left;
}
/* line 233, ../sass/wanmei.scss */
.area .areabox .wrap .title-main p .icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 12px;
  vertical-align: middle;
}
/* line 239, ../sass/wanmei.scss */
.area .areabox .wrap .title-main p .icon img {
  width: 100%;
  height: 100%;
}
/* line 245, ../sass/wanmei.scss */
.area .areabox .wrap .title-main .rsp {
  margin-left: 116px;
  float: left;
  overflow: hidden;
}
/* line 249, ../sass/wanmei.scss */
.area .areabox .wrap .title-main .rsp a {
  margin-right: 5px;
  padding-top: 7px;
  font-size: 18px;
  display: block;
  border-bottom: 3px solid #de2f3c;
}
/* line 257, ../sass/wanmei.scss */
.area .areabox .wrap .title-main .right-more {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
  float: right;
}
/* line 262, ../sass/wanmei.scss */
.area .areabox .wrap .title-main .right-more .gt {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background: url(../imges/base.png) no-repeat -90px 0;
  vertical-align: -5px;
}
/* line 272, ../sass/wanmei.scss */
.area .areabox .wrap .dota {
  width: 100%;
  overflow: hidden;
}
/* line 275, ../sass/wanmei.scss */
.area .areabox .wrap .dota a {
  width: 226px;
  height: 614px;
  margin: 0 15px 15px 0;
  display: block;
}
/* line 280, ../sass/wanmei.scss */
.area .areabox .wrap .dota a img {
  width: 100%;
  height: 100%;
}
/* line 285, ../sass/wanmei.scss */
.area .areabox .wrap .dota a:hover {
  transform: translate(0, -2px);
  box-shadow: 0 3px 3px #CCC;
}

/* line 295, ../sass/wanmei.scss */
.comment {
  width: 100%;
  padding-bottom: 25px;
}
/* line 298, ../sass/wanmei.scss */
.comment .comwrap {
  width: 1190px;
  margin: 0 auto;
}
/* line 301, ../sass/wanmei.scss */
.comment .comwrap .title-main {
  padding: 37px 0 20px 0;
  width: 100%;
  overflow: hidden;
}
/* line 305, ../sass/wanmei.scss */
.comment .comwrap .title-main p {
  float: left;
}
/* line 307, ../sass/wanmei.scss */
.comment .comwrap .title-main p .icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 12px;
  vertical-align: middle;
}
/* line 313, ../sass/wanmei.scss */
.comment .comwrap .title-main p .icon img {
  width: 100%;
  height: 100%;
}
/* line 320, ../sass/wanmei.scss */
.comment .comwrap ul {
  overflow: hidden;
}
/* line 322, ../sass/wanmei.scss */
.comment .comwrap ul li {
  float: left;
  width: 330px;
  padding: 28px;
  margin-right: 16px;
  background-color: #FFF;
  box-sizing: content-box;
}
/* line 329, ../sass/wanmei.scss */
.comment .comwrap ul li .pic {
  display: block;
  float: left;
  height: 100%;
  width: 130px;
}
/* line 334, ../sass/wanmei.scss */
.comment .comwrap ul li .pic img {
  width: 100%;
  height: 100%;
}
/* line 339, ../sass/wanmei.scss */
.comment .comwrap ul li .main-context {
  width: 184px;
  margin-left: 15px;
  line-height: 20px;
  float: left;
}
/* line 344, ../sass/wanmei.scss */
.comment .comwrap ul li .main-context .desp {
  height: 81px;
  font-size: 12px;
}
/* line 348, ../sass/wanmei.scss */
.comment .comwrap ul li .main-context .form {
  color: #999;
  font-size: 12px;
}
/* line 351, ../sass/wanmei.scss */
.comment .comwrap ul li .main-context .form .weixin-pic {
  display: inline-block;
  width: 14px;
  height: 12px;
  margin-right: 5px;
  background: url(../imges/base.png) no-repeat -174px 0;
  vertical-align: -1px;
}
/* line 360, ../sass/wanmei.scss */
.comment .comwrap ul li .main-context .name {
  overflow: hidden;
  font-size: 14px;
}
/* line 363, ../sass/wanmei.scss */
.comment .comwrap ul li .main-context .name .name-hero {
  color: #ea0406;
  padding-left: 6px;
  margin-left: 6px;
  border-left: 1px solid #DDD;
}

/* line 377, ../sass/wanmei.scss */
.about {
  width: 100%;
  overflow: hidden;
  padding: 23px 0 40px;
  margin-top: 40px;
}
/* line 382, ../sass/wanmei.scss */
.about .aboutwrap {
  width: 1190px;
  overflow: hidden;
  margin: 0 auto;
}
/* line 386, ../sass/wanmei.scss */
.about .aboutwrap .ensure {
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 389, ../sass/wanmei.scss */
.about .aboutwrap .ensure .goods {
  float: left;
  width: 297px;
  height: 49px;
  line-height: 49px;
  text-align: center;
  font-size: 18px;
  border-right: 1px solid #e9e9e9;
  color: #999;
}
/* line 398, ../sass/wanmei.scss */
.about .aboutwrap .ensure .goods span {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  background: url(../imges/about.png) no-repeat;
  vertical-align: middle;
}
/* line 408, ../sass/wanmei.scss */
.about .aboutwrap .server {
  padding-top: 40px;
  border-top: 1px solid #e9e9e9;
  overflow: hidden;
}
/* line 412, ../sass/wanmei.scss */
.about .aboutwrap .server dl {
  float: left;
  width: 298px;
  text-indent: 110px;
}
/* line 416, ../sass/wanmei.scss */
.about .aboutwrap .server dl dt {
  height: 35px;
  font-size: 14px;
}
/* line 420, ../sass/wanmei.scss */
.about .aboutwrap .server dl dd {
  height: 24px;
  text-align: left;
  font-size: 12px;
}
/* line 424, ../sass/wanmei.scss */
.about .aboutwrap .server dl dd a {
  color: #999;
}
/* line 430, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content {
  width: 227px;
  padding-left: 67px;
  border-left: 1px solid #e9e9e9;
  float: right;
  box-sizing: content-box;
}
/* line 436, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .tel {
  font-size: 24px;
}
/* line 439, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .time {
  padding: 16px 0 24px 0;
  font-size: 14px;
  color: #999;
}
/* line 444, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .zaixian {
  display: block;
  width: 154px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ea0f1f;
  font-size: 16px;
  border: 1px solid #ff5353;
  border-radius: 3px;
}
/* line 454, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .zaixian span {
  display: inline-block;
  width: 18px;
  height: 15px;
  margin-right: 6px;
  background: url(../imges/base.png) no-repeat -188px 0;
  vertical-align: middle;
}
/* line 463, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .zaixian:hover {
  background-color: #e32331;
  border-color: #e32331;
  color: #FFF;
}
/* line 468, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .zaixian:hover span {
  background: url(../imges/base.png) no-repeat -240px 0;
}
/* line 471, ../sass/wanmei.scss */
.about .aboutwrap .server .right-content .tousu {
  text-indent: 50px;
  font-size: 14px;
  padding: 16px 0 0;
  display: block;
}

/* line 483, ../sass/wanmei.scss */
footer {
  width: 100%;
  padding: 25px 0 30px 0;
  background: hotpink;
}
/* line 487, ../sass/wanmei.scss */
footer .footwrap {
  width: 1190px;
  margin: 0 auto;
}
/* line 490, ../sass/wanmei.scss */
footer .footwrap .foot-ul {
  width: 825px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 494, ../sass/wanmei.scss */
footer .footwrap .foot-ul li {
  float: left;
  width: 70px;
  height: 12px;
  line-height: 12px;
  border-right: 1px solid #DDD;
  text-align: center;
  margin-right: -1px;
  text-align: center;
  font-size: 12px;
}
